<div class="large-8 columns">
	<%= form_for [@restaurant, @reservation] do |f| %>
		<div class="field">
				<% if @reservation.errors.any? %>
	    			<div id="error_explanation">
	      				<h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

			    		<ul>
			      			<% @reservation.errors.full_messages.each do |msg| %>
			        		<li><%= msg %></li>
			    			<% end %>
	      				</ul>
	    			</div>
	 			<% end %>
	 	</div>

		<div class="field">
			<%= f.label :select_date %>
			<%= f.datetime_select(:time_slot, start_year: Time.now.year, end_year: Time.now.year, ampm: true, prompt: {month: 'Month', day: 'Day', hour: 'Hour'}) %>
		</div>

		<div class="field">
			<%= f.label :groupsize %>
			<%= f.select :groupsize, 1..10 %>
		</div>

		<div>
			<%= f.submit %>
		</div>

	<%end%>

</div>