<h1> <%= @customer.name %></h1>

<div class="customer">
	<p><%= @customer.email %></p> 
</div>


<%= link_to "My Reservations", customer_reservations_path(@customer) %>
<%= link_to "Home", root_path %> | <%= link_to "Edit Profile", edit_customer_path(current_user) %>