<div class="form">	
	<%= form_for(@reservation) do |f| %>

	<div class="field">
	<%= f.label :time_slot, "Reservation Time" %><br />
	<%= f.select_datetime(:time_slot, ampm: true, date_separator: '/', time_separator: '', datetime_separator: ',', prompt: {month: "Select Month", day: "Select Day", hour: "Select Hour" }) %>
	</div>

	<div class="field">
	<%= f.label :group_size, "Group Size" %><br />
	<%= f.number_field :group_size %>
	</div>

	<div class="action">
	<%= f.submit %>
	</div>

	<%end%>
</div>