<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>

<div>
<%= image_tag restaurant.image %>
<%= link_to restaurant.name, restaurant %>
<%= restaurant.address %>
<%= restaurant.phone_number %>
<%= restaurant.website_url %>
</div>

<%end%>