<h1>Owner's Profile</h1>

<div class="owner">
	<h2><%= @owner.name %></h2>
	<p><%= @owner.email %></p> 
</div>

<%= link_to "Edit Profile", edit_owner_path %> | 
<%= link_to "Home", root_path %> | 
<%= link_to "Create New Restaurant", new_restaurant_path %> | 
<%= link_to "My Restaurants", restaurants_path %>


